.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.box {
    width: 600px;
    height: 600px;
    }
body {
    margin: 0px;
    background: #e7e5e6;
    }

