body {
    margin: 0px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/832/757/original/dog-and-cat-paw-pattern-background-free-vector.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}